
.form-container {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color:#F3F6F8;
    /* text-align: center; */
}

.form-container form{
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    display: inline-block;
}

