
.form-container {
    /* position: relative; */
    display:flex;
    width: 100vw;
    height: 100vh;
    background-color:#9999A3;
    display: inline-block;
    align-items: center;
    justify-content: center;
}