*{
   font-family: Lekton;
   margin:0;
   padding:0;
}

.topnav {
   background-color: #9999A3;
   /* background-color: black; */
   overflow: hidden;
   /* height: 10vh; */
 }

.topnav h1 {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 3% 1% 1% 5%;
   font-size: 22px;
}

.topnav button {
   float: right;
   border: none;
   color: black;
   margin: 2% 1% 1% 1%; 
   padding: 1% 1% 1% 1%;
   background-color: #F6851B;
   text-align: center;
   font-size: 17px;
   text-decoration: none;
   border-radius: 10px;
}

.topnav p {
   float: right;
   color: #f2f2f2;
   text-align: center;
   padding: 3% 0% 1% 1%;
   font-size: 17px;
}

.container {
    display: flex;
    width: 100vw;
    height: 90vh;
    /* align-items: center; */
    /* justify-content: left; */
    background-color:#9999A3;
 }

.library {
   /* position: relative; */
   display: flex;
   margin: 5% 0% 0% 5%;
   padding: 2% 2% 2% 2%;
   background-color: white;
   border-radius: 5px;
   height: 60vh;
   width: 27vw;
   overflow: scroll;
}

/* .library h2{
   
} */

.library ul{ 
   position: absolute; 
   overflow: scroll;
   list-style-type: none;
   text-align: left;
   flex-basis: 100%; 
   width: 27vw;
   height: 55vh;
   padding: 0;
   margin-top: 3%;
}

.library ul li { 
   padding: 10% 10% 10% 0%; 
   display: flex;
   justify-content: space-between;
   /* column-gap: 70px; */
   cursor: pointer; 
   border-bottom: 1px solid #DDD; 
   /* font-size: 1.3vw; */
}

.library ul li.active { 
   font-weight: bold;
}

#botnav {
   bottom: 0;
   position: fixed;
   width: 100%;
   overflow: hidden;
   text-align: center;
}

#botnav a {
   color: #f2f2f2;
   padding: 3% 1% 10% 5%;
   font-size: 22px;
   cursor: pointer;
}
#botnav a:hover{
   color: lightblue;
}
#botnav a.active{
   color: blue;
}

#circle {
   position: absolute;
   left: calc(50vw - 15vh);
   top: 25vh;
   margin: auto;
   height: 60vh;
   width: 60vh;
   background: #2E2F3C;
   border-radius: 50%;
}

#small-circle{
    
    position: absolute;
    right: 35%;
    top: 35%;
    width: 30%;
    height: 30%;
    background: #3D3C91;
    border: calc(50vh/100) solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vinyl-print { 
   font-size: 1vw;
   text-align: center;
   animation: rotate 5s linear infinite; 
   animation-play-state: paused;
}

.container.play .vinyl-print{
   animation-play-state: running;
}

@keyframes rotate {
   from{
      transform: rotate(0deg);
   }
   to{
      transform: rotate(360deg);
   }
}

.play{
    position: absolute;
    right: -40%;
    top: 30%;
    width: 17%;
    height: 17%;
    background: #C4C4C4;
    border-radius: 50%;
    border: none;
}
.play:hover{
   background: rgb(218, 218, 218);
}

#volume{
   position: absolute;
   right: -30%;
   top: 80%;
   width: 17%;
   height: 17%;
   background: #C4C4C4;
   border-radius: 50%;
   border: none;
}

#rect1{
   position: absolute;
   width: 3%;
   height: 18%;
   right: 13%;
   top: 45%;
   background: #C4C4C4;
   border-radius: 15%;
   transform: rotate(60deg);
}
#rect2{
   position: absolute;
   width: 3%;
   height: 45%;
   right: -5%;
   top: 8.5%;
   background: #C4C4C4;
   border-radius: 15%;
   transform: rotate(30deg);
}

#record-player-circle{
   position: absolute;
   right: -17%;
   top: 13%;
   width: 17%;
   height: 17%;
   background: #C4C4C4;
   border-radius: 50%;
}

#cassette-rect {
   position: absolute;
   left: calc(50vw - 7vh);
   top: 43vh;
   margin: auto;
   height: 35vh;
   width: 80vh;
   background: #C05353;
   border: 1vh solid black;
   box-sizing: border-box;
   border-radius: 1vh;
}