*{
   font-family: Lekton;
   margin:0;
   padding:0;
}

.topnav {
   background-color: #9999A3;
   overflow: hidden;
 }

.topnav h1 {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 3% 1% 1% 5%;
   font-size: 22px;
}

.topnav button {
   float: right;
   border: none;
   color: black;
   margin: 2% 1% 1% 1%; 
   padding: 1% 1% 1% 1%;
   background-color: #F6851B;
   text-align: center;
   font-size: 17px;
   text-decoration: none;
   border-radius: 10px;
}

.topnav p {
   float: right;
   color: #f2f2f2;
   text-align: center;
   padding: 3% 0% 1% 1%;
   font-size: 17px;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* align-items: center; */
    /* justify-content: left; */
    background-color:#9999A3;
 }

.library {
   flex-direction: left;
   margin: 8% 0% 0% 15%
}

#circle {
   position: absolute;
   left: calc(50vw - 25vh);
   top: 25%;
   margin: auto;
   height: 50vh;
   width: 50vh;
   background: #2E2F3C;
   border-radius: 50%;
}

#small-circle{
    margin-top: 0%;
    margin-left: 0%;
    position: absolute;
    right: 35%;
    top: 35%;
    width: 30%;
    height: 30%;
    background: #3D3C91;
    border: calc(50vh/100) solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
}

#play{
    position: absolute;
    right: -40%;
    top: 30%;
    width: 17%;
    height: 17%;
    background: #C4C4C4;
    border-radius: 50%;
}

#volume{
   position: absolute;
   right: -35%;
   top: 80%;
   width: 17%;
   height: 17%;
   background: #C4C4C4;
   border-radius: 50%;
}
#rect1{
   position: absolute;
   width: 3%;
   height: 18%;
   right: 13%;
   top: 45%;
   background: #C4C4C4;
   border-radius: 15%;
   transform: rotate(60deg);
}
#rect2{
   position: absolute;
   width: 3%;
   height: 45%;
   right: -5%;
   top: 8.5%;
   background: #C4C4C4;
   border-radius: 15%;
   transform: rotate(30deg);
}
#record-player-circle{
   position: absolute;
   right: -17%;
   top: 13%;
   width: 17%;
   height: 17%;
   background: #C4C4C4;
   border-radius: 50%;
}
